In [2]:
import numpy as np, pandas as pd

In [6]:
df = pd.read_csv('pokemon_data.csv', index_col='#')

In [44]:
df['total'] = df.loc[:, 'HP':'Speed'].sum(axis=1)

In [45]:
df.to_csv('modified_csv.csv')

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600