In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, re

In [2]:
df = pd.read_csv('mmbn1_chips.csv', index_col=0)

In [134]:
df.head(3)

,Name,Damage,Codes,Description,Rarity,Locations,Count
ID,,,,,,,
001,Cannon(キャノン),40,"A, B, C, D, E","A nice, big cannon!",*,A Chip: Found in starting folder. Defeat the C...,1
002,HiCannon(ハイキャノン),80,"F, G, H, I, J","A nice, big cannon!",**,F Chip: Defeat the Canodumb2 virus with a 5-7 ...,1
003,M-Cannon(メガキャノン),120,"K, L, M, N, O","A nice, big cannon!",***,K Chip: Defeat the Canodumb3 virus with a 5-7 ...,1

##  converting damage column to np.int32 (useful for finding max, avg etc)

In [78]:
vals = list(df['Damage'])
for i in range(len(vals)):
    if vals[i].count(' '):
        vals[i] = vals[i][:vals[i].index(' ')]
    if vals[i] == '-':
        vals[i] = '0'
df['Damage'] = vals
df['Damage'] = df['Damage'].astype(np.int32)

In [ ]:
def chips_with_code(x):
    return df[df['Codes'].str.contains(x.upper())]

In [133]:
df.groupby('Rarity').max('Damage')

        Damage  Count
Rarity
*          130      1
**         160      1
***        180      1
****       200      1
*****      210      1

In [ ]:
df.groupby('Rarity').max